<div class="wrap boxed edit-view">
    
    <h1>Editing <input ng-model="exhibit.title" type="text"></h1>
    
    <hr>
    
    <div ng-repeat="piece in exhibit.content">
        
        <label>Title </label><input ng-model="piece.title" type="text"><br>
        <label>Language </label><input ng-model="piece.language"><br>
        <label>Type </label><select ng-model="piece.type">
            <option ng-selected="{{typeId == piece.type}}"
                    ng-repeat="(typeId, typeName) in contentTypes"
                    value="{{typeId}}">
              {{typeName}}
            </option>
        </select><br>
        <div ng-if="piece.type==2">
            <label>Select file</label><input type="file" file-model="piece.newFile"/><button ng-click="upload(piece.temp_id)">Upload</button><br>
            <label>Current file</label><span>{{piece.url}}</span>
        </div>
        <div ng-if="piece.type==3"><label>URL </label><input type="text" ng-model="piece.url" placeholder="http://"></div>
        <textarea rows="8" ng-model="piece.description"></textarea>
        <button ng-click="deletePiece(piece.temp_id)">Delete this part</button>
        
        <hr>
        
    </div>
    
    <div class="manage">
    
        <button ng-click="addPiece()">Add another piece of content</button>
        
        <hr>
        
        <p ng-if="exhibit._id"><a ui-sref="view({id: exhibit._id})">Preview public view</a> | <a ui-sref="print({id: exhibit._id})">Preview QR & print</a></p>
        <button ng-if="!new" ng-click="saveExhibit()">Save</button>
        <button ng-if="new" ng-click="newExhibit()">Save</button>
        <p>{{statusMessage}}</p>
    
    </div>
    
    <a ui-sref="list">Back to listing</a>

</div>